<!DOCTYPE html>
<!--Student name: Bektursun Mashrapov-->
<!--Student ID: 140309220-->
<!--Student email: bmashrapov@myseneca.ca-->
<!--Course: WEB322-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/styleBanking.css">
    <title>Web Bank Main Page</title>
</head>
<body>
    <header>
        <img src="/public/images/webBankLogo.png" alt="Web Bank Logo">
        <h1>Main page of your Web Bank account</h1>
    </header>
    <p>Welcome to Web Bank, {{username}}! <a href="/logout" id="logout-link">Logout</a></p>
    <nav>
        <ul>
            <li><input type="radio" id="balance" name="menuOption" value="balance"><label for="balance">Balance</label></li>
            <li><input type="radio" id="deposit" name="menuOption" value="deposit"><label for="deposit">Deposit</label></li>
            <li><input type="radio" id="withdrawal" name="menuOption" value="withdrawal"><label for="withdrawal">Withdrawal</label></li>
            <li><input type="radio" id="openAccount" name="menuOption" value="openAccount"><label for="openAccount">Open an Account</label></li>
      
        </ul>
    </nav>
    <nav>
        <form id="accountActionForm" action="/submit-form" method="post">
            <input type="text" id="menuAccountNumber" name="accountNumber" placeholder="Enter Account Number" class="input-field">
            <span id="accountError" class="error-message"></span>
            <button type="submit" id="menuSubmitButton" disabled>Submit</button>
            {{#if successMessage}}
            <div class="success-message">
                <p>{{ successMessage }}</p>
            </div>
        {{/if}}
        </form>
    </nav>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => 
        {
            const form = document.getElementById('accountActionForm');
            const accountNumberInput = document.getElementById('menuAccountNumber');
            const errorMessage = document.getElementById('accountError');
            const menuOptions = document.querySelectorAll('input[name="menuOption"]');
            const submitButton = document.getElementById('menuSubmitButton'); 

            function toggleSubmitButton() 
            {
                const selectedOption = document.querySelector('input[name="menuOption"]:checked');
                const accountNumber = accountNumberInput.value.trim();

                if (selectedOption && accountNumber !== '') 
                {    
                    submitButton.disabled = false;
                } else 
                {
                    submitButton.disabled = true;
                }
            }

            menuOptions.forEach((option) => 
            {
                option.addEventListener('change', toggleSubmitButton);
            });

            accountNumberInput.addEventListener('input', toggleSubmitButton);

            form.addEventListener('submit', function(e) 
            {
                const selectedOption = document.querySelector('input[name="menuOption"]:checked').value;
                const accountNumber = accountNumberInput.value.trim();

                if (accountNumber === '') 
                {
                    e.preventDefault();
                    errorMessage.textContent = 'Please enter an account number.';
                    accountNumberInput.classList.add('input-error');
                } else 
                {
                    errorMessage.textContent = '';
                    accountNumberInput.classList.remove('input-error');

                    if (selectedOption === 'balance') 
                    {
                        e.preventDefault();
                        window.location.href = '/balance?accountNumber=' + encodeURIComponent(accountNumber);
                    }
                    
                    if (selectedOption === 'deposit') 
                    {
                        e.preventDefault();
                        window.location.href = '/deposit?accountNumber=' + encodeURIComponent(accountNumber);
                    }

                    if (selectedOption === 'withdrawal') 
                    {
                        e.preventDefault();
                        window.location.href = '/withdrawal?accountNumber=' + encodeURIComponent(accountNumber);
                    }
                    else 
                    {
                        form.action = '/' + selectedOption;
                    }
                }
            });

            menuOptions.forEach((option) => 
            {
                option.addEventListener('change', function(e) 
                {
                    if (e.target.value === 'openAccount') 
                    {
                        window.location.href = '/openAccount';
                    } else 
                    {
                        
                        form.action = '/' + e.target.value;
                    }
                });
            });
        });
    </script>
</body>
</html>
